// Color vars
$white: #fffff7;
$blacK: #344146;

// Font vars
$font-family-primary: "Baloo", Arial, Helvetica, sans-serif;

body {
  background: seagreen;
  margin: 0;
  /* Temporary until normalize.css */ 
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: $font-family-primary;
  letter-spacing: 0.8px;
}

h1,
h2 {
  text-transform: uppercase;
  color: $blacK;
}

label,
input {
  display: block;
  margin-top: 5px; 
}

main,
.header-main {
  padding: 25px; 
}

.header-main {
  background: gold;
}
