doctype html
html(lang="sv-SE")
  head
    meta(charset="utf-8")
    title #{pageTitle}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    link(href="https://fonts.googleapis.com/css?family=Baloo", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
    link(href="/dist/css/styles.min.css", rel="stylesheet")
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet")
  body
