nav.navbar.navbar-default
  ul.nav.navbar-nav
    li
      a(href='/') Home
    li.optional
      a(href='login') Login
    li.optional
      a(href='signup') Sign up
    li#manager-only
      a(href='manage-cars') Manage cars
    button#logout(type="button" onClick="logout()") Log out
    span you are logged in as 
      span#user #{id}
    script(src='/javascripts/accounts.js')