doctype html
//- Fix template partials for head and header
html(lang="sv-SE")
  head
    meta(charset="utf-8")
    //- Change to dynamic title
    title="Bilbokningen"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    link(href="https://fonts.googleapis.com/css?family=Baloo", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
  body
    header.header-main
        h1.heading-main Välkommen till Bilbokningen
    main
        section.intro
            h2.heading-sub  Loreens Ipsum