include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
main
  section
    h2.heading-sub Inlogging
    //- Can we add two different forms here? login should have method=post & action= /findUser
    //- sign up should also have method post but action /users 
    //- thanks! :D kan göra det också men vet hur det är när någon annan pillar i ens kod, hehe
  form(method="post" action="")
    //- User login
    fieldset.user-login
      legend
        h3 Befintlig användare
      //- e-mail and/or username?
      label(for="email") E-post
      input#email(type="email", name="email", placeholder="namn@namnsson.se", required)
      //- Password
      label(for="password") Lösenord
      input#password(type="password", name="password", required)
      button.login-btn Logga in
      //- If user forgot password
      a(href="#") Glömt ditt lösenord?
    //- Maybe create user should be on a separate file? e.g href above saying: Inte skapat något konto än?... 
    fieldset.user-create
      legend
        h3 Skapa användare
      label(for="email-create") Ange e-post
      input#email-create(type="email", name="email", placeholder="namn@namnsson.se", required)
      //- Password
      label(for="password-create") Välj lösenord
      input#password-create(type="password", name="password", placeholder="Minst 6 bokstäver", required)
      button.login-btn Färdig
include partials/footer.pug