include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
main
  section
//- Form för att lägga till bilar
//-  Lista alla bilar
//- Kunna ta bort bilarna 
//- lägg till bilar med method post action = /cars
include partials/footer.pug